.container
  .pure-g-r
    .pure-u-1-1
      .buttons-centered
        %a{:href => "/movies/best_movies"}
          %button.button-success.pure-button Best Movies
        %a{:href => "/movies/worst_movies"}
          %button.button-error.pure-button Worst Movies
        %a{:href => "/movies/newbies"}
          %button.button-secondary.pure-button Newbies
        %a{:href => "/movies/oldies"}
          %button.button-warning.pure-button Oldies
      %table.pure-table.table-centered
        %thead
          %tr
            %th Title
            %th Year
            %th Rating
            %th Genre
            %th Studio
        %tbody
        - @all_movies.each do |movie|
          %tr
            %td= "<a href='/movies/#{movie['id']}'>#{movie['title']}</a>"
            %td= movie["year"]
            - if movie["rating"] != nil
              %td= movie["rating"]
            - else
              %td NA
            %td= movie["genre"]
            %td= movie["studio"]
    %ul.pure-paginator.centered_pagination.table-centered
      - if @all_movies[0]["year"].to_i > 2000
        - if @page != 1
          %li= "<a class='pure-button' href='/movies/newbies?page=#{@page - 1}'>&#171; Previous Page</a>"
        %li= "<a class='pure-button' href='/movies/newbies?page=#{@page + 1}'>Next Page &#187;</a>"
      - else
        - if @page != 1
          %li= "<a class='pure-button' href='/movies/oldies?page=#{@page - 1}'>&#171; Previous Page</a>"
        %li= "<a class='pure-button' href='/movies/oldies?page=#{@page + 1}'>Next Page &#187;</a>"
      %p.centered_pagination= @page

